﻿@charset "utf-8";
/* CSS Document */
* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.ovrflow_x {
    overflow-x: auto;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}

select, textarea, input {
    outline: none;
    border: 0px;
}

a {
    border: 0px;
    text-decoration: none;
}

    a img {
        border: 0px;
        outline: none;
    }

.bg {
    width: 100%;
    float: left;
    background-image: url(../images/main_login_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.login_area_main {
    width: 387px;
    margin: 0 auto;
}

.login_top_logo {
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 10px;
}

.login_bottom {
    float: left;
    width: 387px;
    padding-top: 41px;
}

.fill_bg {
    padding-bottom: 25px;
    float: left;
    width: 387px;
}

.filled_area {
    width: 270px;
    margin: 0 auto;
}

.font_wht {
    color: #FFF;
}

.loginhadd {
    color: #fff;
    font-size: 23px;
    float: left;
    width: 100%;
    font-family: 'open_sansregular';
    font-weight: normal;
}

.login_fill_main {
    width: 308px;
    float: left;
}

.fill_box {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.filled {
    width: 255px;
    float: left;
    color: #FFF;
    border: 0px;
    font-family: 'open_sansregular';
    font-size: 15px;
    padding-top: 10px;
    padding-right: 4px;
    padding-bottom: 10px;
    padding-left: 4px;
    background-color: transparent;
    background-image: url(../images/fill_bg.png);
    background-repeat: repeat-x;
    background-position: left top;
}

.login_btn {
    font-family: 'open_sansregular';
    width: auto;
    margin-right: 4px;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
    color: #FFF;
    border: 0px;
    background-image: url(../images/loginbtnbg.png);
    background-repeat: repeat;
    background-position: left top;
    background-color: transparent;
    font-size: 15px;
}

    .login_btn:hover {
        color: #7ecce8;
        cursor: pointer;
    }

.custm_support {
    width: auto;
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.version {
    text-align: right;
    float: left;
    font-family: 'open_sansregular';
    width: 100%;
}

.sup_btn_main {
    width: auto;
    float: right;
    margin-top: 125px;
    font-weight: normal;
}

.sup_btn {
    text-align: right;
    font-family: 'open_sansregular';
    width: auto;
    margin-right: 4px;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
    color: #FFF;
    border: 0px;
    background-image: url(../images/loginbtnbg.png);
    background-repeat: repeat;
    background-position: left top;
    background-color: transparent;
    font-size: 20px;
    float: left;
    text-decoration: none;
}

    .sup_btn:hover {
        text-align: right;
        font-family: 'open_sansregular';
        width: auto;
        margin-right: 4px;
        padding-top: 6px;
        padding-right: 15px;
        padding-bottom: 6px;
        padding-left: 15px;
        color: #FFF;
        border: 0px;
        background-image: url(../images/loginbtnbg.png);
        background-repeat: repeat;
        background-position: left top;
        background-color: transparent;
        font-size: 20px;
        float: left;
        text-decoration: underline;
    }



/**************************Dash Board****************************/
.main {
    width: 100%;
    float: left;
}

.top_hdr {
    background-color: #ffffff;
    padding-top: 12px;
    padding-bottom: 8px;
    width: 98%;
    float: left;
    padding-right: 1%;
    padding-left: 1%;
}

.top_nav {
    float: left;
    padding-top: 10px;
    width: 60%;
}

.dash_btn {
    float: left;
    width: 77px;
    margin-right: 20px;
}

.topicon {
    float: left;
    height: 77px;
}

.bgred {
    background-color: #e24518;
}

    .bgred:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
    }

.bg_org {
    background-color: #ff800a;
}

    .bg_org:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
    }

.bg_yell {
    background-color: #e2d000;
}

    .bg_yell:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
    }

.bg_grn {
    background-color: #8db800;
}

    .bg_grn:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
    }

.bg_pink {
    background-color: #ff8a65;
}

    .bg_pink:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
    }

.bg_blue {
    background-color: #317cc2;
}

    .bg_blue:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
    }

.topicontxt {
    text-align: center;
    float: left;
    width: 100%;
}

.log_out_main {
    float: right;
    width: 50%;
}

.logout_box {
    width: 15%;
    float: right;
    text-align: right;
    padding-top: 10px;
}

.font14_blue {
    color: #089dbe;
    font-size: 14px;
}

.log_out {
    color: #089dbe;
    font-size: 14px;
    background-image: url("../images/logout_icon.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    line-height: 35px;
    padding-left: 25%;
}

.middle {
    width: 100%;
    float: left;
}

.left_menu {
    width: 25%;
    float: left;
}
/**/
.left-menu_new {
    width: 100%;
    float: left;
}

    .left-menu_new ul {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }

    .left-menu_new li {
        width: 100%;
        float: left;
        font-size: 13px;
        color: #FFFFFF;
        background-color: #1a4d5f;
        border-bottom: 1px solid #FFFFFF;
    }

        .left-menu_new li:hover {
            width: 100%;
            background-color: #1a4d5f;
        }

        .left-menu_new li a {
            display: block;
            text-decoration: none;
            color: #FFFFFF;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 10px;
            text-shadow: 1px 1px #666;
        }

            .left-menu_new li a.act-left {
                color: #fff;
                background: url(../images/Icon/link-bg1.gif) no-repeat;
            }

.left-main_new {
    width: 215px;
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.image {
    float: left;
    height: auto;
    width: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding: 0px;
    margin: 0px;
}

    .image:hover {
        float: left;
        height: auto;
        width: 20px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }

/**/
#left:before {
    display: block;
    content: "";
    position: fixed;
    left: 0;
    z-index: -1;
    height: 100%;
    background-color: #f6f6f6;
    width: 265px;
    width: 20%;
}

#left {
    float: left;
    position: relative;
    width: 100%;
    z-index: 5;
    /*height: 25px;*/
    background-color: #ff7423;
    display: block;
}

    #left:after {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        width: 266px;
        width: 20%;
        height: 100%;
        z-index: -1;
        background-color: #f6f6f6;
    }
/**/
.right_part {
    float: right;
    margin-right: 1%;
    width: 78%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav {
    float: left;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}

    #nav li div {
        float: right;
    }

        #nav li .link div {
            float: left;
            margin-top: -8px;
            margin-right: 5px;
        }

        #nav li .link:hover, #nav li .link.active {
            color: #FFF;
            background-color:#ff7423;
            -o-transition: #087c96 .2s ease-out, background 0.5s ease-in;
            -ms-transition: #087c96 .2s ease-out, background 0.5s ease-in;
            -moz-transition: #087c96 .2s ease-out, background 0.5s ease-in;
            -webkit-transition: #087c96 .2s ease-out, background 0.5s ease-in;
            transition: color .2s ease-out, background 0.5s ease-in;
        }

    #nav li ul {
        display: none;
    }

        #nav li ul li .link {
            padding: 7px 12px;
            background-color: #f6f6f6;
            color: #ff975b;
            border-bottom: 1px solid #FFF;
			height:40px;
			line-height:26px;
        }

    #nav li {
        position: relative;
    }

    #nav .img_top {
        position: absolute;
        right: 0;
        top: 1px;
    }

    #nav .img_btm {
        position: absolute;
        right: 0;
        bottom: 1px;
    }

.list_icon {
    width: 30px;
    height: 30px;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
}

.top_ttl {
    width: 100%;
    float: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #089dbe;
}

.titl {
    background-color: #089dbe;
    float: left;
    padding-top: 2px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

.ttl_icon {
    float: left;
    padding-right: 5px;
}

.ttl_txt {
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    line-height: 36px;
}
/**/
.dash_area {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.table_box {
    width: 100%;
    float: left;
}
/*Change By Deep Dave On 13-02-2014 */
.table_inner_box {
    border: 1px solid #D3D3D3;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 47.5%;
    height: 400px;
}

    .table_inner_box th {
        font-weight: normal;
    }

    .table_inner_box .tabl_line th {
        font-weight: bold;
    }


.tr_Scroll {
    height: 350px;
    overflow: hidden;
}

    .tr_Scroll:hover {
        height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;
        overflow: auto;
    }

th {
    /*color: #089dbe;
	font-size: 12px;
	height:34px;
	background-color: #FFF;*/
    background-color: #FFFFFF;
    color: #089DBE;
    font-size: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCC1;
}

/*.odd_line{
	color:#626262;
	background-color:#f6f6f6;
	font-size:12px;
	height:20px;	
}
.evn_line{
	color:#626262;
	background-color:#ffffff;
	font-size:12px;	
	height:20px;
}*/
/********************/
.tabl_line {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #cecece;
    border-bottom-color: #cecece;
}
/*Change Joshi Jitesh 10/04/2014*/
/*th{
	padding:0.5%;	
}*/
td {
    padding: 0.5%;
}

.bdr_v {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
    padding: 7px;
}

.bdr_vBnkRep {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
    padding: 7px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.bdr_v2 {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #cecece;
}

.tbl_hd_font {
    font-size: 22px;
    color: #ffffff;
    font-family: 'open_sansregular';
    float: left;
}

.font18_blue {
    font-size: 18px;
    color: #089dbe;
}

.font14_gray {
    font-size: 14px;
    color: #626262;
}

.font14_red_b {
    font-size: 14px;
    color: #bd3b47;
    font-weight: bold;
}

.margn_r10 {
    margin-right: 10px;
}

/**/
.create_main {
    float: left;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #d3d3d3;
}

.inner_crt {
    float: left;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    width: 98%;
}


/*Add this css for create page 17-02-2014 */
.form_left {
    width: 48%;
    float: left;
}

.form_right {
    width: 48%;
    float: right;
}

.form_grid {
    width: 75%;
    padding: 1%;
    float: left;
}

.form_lab {
    width: 100%;
    color: #0a5260;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
}

.form_fill {
    width: 100%;
    float: left;
}

.mndt {
    color: #e24518;
    font-size: 14px;
}

.fill {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 96%;
}
/*Newly added by deep dave*/
.fill1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
}

.fill2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 4%;
    width: 96%;
}

.fillfloatnone {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: none;
    padding: 2%;
    width: 96%;
}
/************************/
.fill_txt {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    height: 89px;
    padding: 1%;
    width: 98%;
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #000;
}

.wght_chk_bx {
    float: left;
    width: 100%;
    margin-top: 12px;
}

.modual_main {
    width: 100%;
    float: left;
}

.mdl_ttl {
    width: 100%;
    float: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
    margin-top: 12px;
}

.mdl_ttl_bg {
    background-color: #d3d3d3;
    float: left;
    padding-top: 2px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

.mdl_txt {
    color: #101010;
    float: left;
    font-size: 16px;
    line-height: 36px;
}

.chk_all_main {
    float: right;
    margin-top: 1%;
    font-size: 14px;
    color: #5e5e5e;
    margin-bottom: 1%;
}

.chek_listing {
    width: 99.8%;
    float: left;
    border: 1px solid #D3D3D3;
}

    .chek_listing table {
        float: left;
        padding: 1%;
        width: 98%;
    }

        .chek_listing table tr {
            width: 100%;
            float: left;
        }

            .chek_listing table tr td {
                float: left;
            }

            .chek_listing table tr td {
                float: left;
                width: 23%;
            }

                .chek_listing table tr td label {
                    float: right;
                    padding-left: 2%;
                    width: 90%;
                }

.link_chek {
    font-size: 14px;
    color: #5e5e5e;
    text-decoration: none;
}

    .link_chek:hover {
        font-size: 14px;
        color: #5e5e5e;
        text-decoration: underline;
    }

.inner_modual {
    width: 100%;
    float: left;
}


/*Listing Page*/
.flt_area {
    float: left;
    margin-top: 10px;
    width: 100%;
}

.flter_grd {
    float: left;
    width: 340px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.flter_lab {
    color: #089DBE;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 100px;
}

.flter_lab_lrg {
    color: #089DBE;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 165px;
}

.flter_fill {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 225px;
}

.btn {
    float: left;
}

.btn_comman input {
    font-family: 'open_sansregular';
    width: auto;
    background-color: #089dbe;
    margin-right: 4px;
    padding: 7px 15px;
    color: #FFF;
    border: 0px;
    font-size: 15px;
}

    .btn_comman input:hover {
        font-family: 'open_sansregular';
        width: auto;
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        margin-right: 4px;
        padding: 7px 15px;
        color: #FFF;
        border: 0px;
        font-size: 15px;
        cursor: pointer;
    }

.btn_comman a {
    font-family: 'open_sansregular';
    width: auto;
    background-color: #089dbe;
    margin-right: 4px;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    color: #FFF;
    border: 0px;
    font-size: 15px;
}

    .btn_comman a:hover {
        font-family: 'open_sansregular';
        width: auto;
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        margin-right: 4px;
        padding-top: 7px;
        padding-right: 15px;
        padding-bottom: 7px;
        padding-left: 15px;
        color: #FFF;
        border: 0px;
        font-size: 15px;
        cursor: pointer;
    }

.list_btn_area {
    float: right;
    width: auto;
}
/*
.cr_btn {
    background-color: #8DB800;
    float: left;
    margin-left: 5px;
    padding: 2px 4px;
    width: auto;
}
.cr_btn:hover {
	background-color: #3e3e3e;
	-o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
	-ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
	-moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
	-webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
	transition: color .2s ease-out, background 0.5s ease-in;
	float: left;
	padding-right: 4px;
	width: auto;
	margin-left: 5px;
}
.cr_btn span {
    background-color: #FFFFFF;
    color: #8DB800;
    float: right;
    margin-top: 4px;
    padding: 4px 10px;
    vertical-align: middle;
    width: auto;
}
.del_btn {
	background-color: #e24518;
	float: left;
	padding: 2px 4px;
	width: auto;
	margin-left: 5px;
}
.del_btn:hover {
	background-color: #3e3e3e;
	-o-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-ms-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-moz-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-webkit-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	transition:color .2s ease-out, background 0.5s ease-in;
	float: left;
	padding-right: 4px;
	width: auto;
	margin-left: 5px;
}
.del_btn span {
    background-color: #FFFFFF;
    float: right;
    margin-top: 4px;
    padding: 4px 10px;
    vertical-align: middle;
    width: auto;
	color:#e24518;
}
.inact_btn {
	background-color: #ff8a65;
	float: left;
	padding: 2px 4px;
	width: auto;
	margin-left: 5px;
}
.inact_btn:hover {
	background-color: #3e3e3e;
	-o-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-ms-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-moz-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-webkit-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	transition:color .2s ease-out, background 0.5s ease-in;
	float: left;
	padding-right: 4px;
	width: auto;
	margin-left: 5px;
}
.inact_btn span {
    background-color: #FFFFFF;
    float: right;
    margin-top: 4px;
    padding: 4px 10px;
    vertical-align: middle;
    width: auto;
	color:#ff8a65;
}
.act_btn {
	background-color: #317cc2;
	float: left;
	padding: 2px 4px;
	width: auto;
	margin-left: 5px;
}
.act_btn:hover {
	background-color: #3e3e3e;
	-o-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-ms-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-moz-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	-webkit-transition:#3e3e3e .2s ease-out, background 0.5s ease-in;
	transition:color .2s ease-out, background 0.5s ease-in;
	float: left;
	padding-right: 4px;
	width: auto;
	margin-left: 5px;
}
.act_btn span {
    background-color: #FFFFFF;
    float: right;
    margin-top: 4px;
    padding: 4px 10px;
    vertical-align: middle;
    width: auto;
	color:#317cc2;
}
*/
.table_list {
    width: 100%;
    float: left;
    margin-top: 8px;
}
/**/
.paging_area {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.paging_main table {
    float: right;
    height: 28px;
}

.paging_main tr {
    float: right;
}

    .paging_main tr td {
        float: left;
        margin: 0;
        padding: 0;
        width: 30px;
    }
/*New Created By Deep Dave */
.flter_grd2 {
    float: left;
    width: 290px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.paging_main tr td span {
    float: left;
    width: 28px;
    text-align: center;
    height: 23px;
    padding-top: 3px;
    margin-left: 2px;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    line-height: 22px;
    background-color: #089dbe;
    -o-transition: #089dbe .2s ease-out, background 0.5s ease-in;
    -ms-transition: #089dbe .2s ease-out, background 0.5s ease-in;
    -moz-transition: #089dbe .2s ease-out, background 0.5s ease-in;
    -webkit-transition: #089dbe .2s ease-out, background 0.5s ease-in;
    transition: color .2s ease-out, background 0.5s ease-in;
}

.paging_main tr td {
    color: #089dbe;
    float: left;
    font-size: 16px;
    height: 25px;
    line-height: 22px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    width: 28px;
}
    /*-----------------------------------*/
    .paging_main tr td a {
        color: #089dbe;
        float: left;
        font-size: 16px;
        height: 25px;
        line-height: 22px;
        margin-left: 2px;
        padding-top: 3px;
        text-align: center;
        text-decoration: none;
        width: 28px;
    }

        .paging_main tr td a:hover {
            float: left;
            width: 28px;
            text-align: center;
            height: 23px;
            padding-top: 3px;
            margin-left: 2px;
            font-size: 16px;
            color: #FFF;
            text-decoration: none;
            line-height: 22px;
            background-color: #089dbe;
            -o-transition: #089dbe .2s ease-out, background 0.5s ease-in;
            -ms-transition: #089dbe .2s ease-out, background 0.5s ease-in;
            -moz-transition: #089dbe .2s ease-out, background 0.5s ease-in;
            -webkit-transition: #089dbe .2s ease-out, background 0.5s ease-in;
            transition: color .2s ease-out, background 0.5s ease-in;
        }

.current_page {
    float: left;
    width: 28px;
    text-align: center;
    height: 23px;
    padding-top: 3px;
    margin-left: 2px;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    line-height: 22px;
    background-color: #089dbe;
}

.fill_dd {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 99.9%;
}

/*Replace*/
.wght_chk_bx {
    float: left;
    width: 100%;
    margin-top: 12px;
}
/*Change Joshi Jitesh 10/04/2014*/
th {
    background-color: #FFFFFF;
    color: #089DBE;
    font-size: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 33px;
    border-bottom-color: #CCCCC1;
}

.evn_line {
    color: #626262;
    background-color: #f6f6f6;
    font-size: 12px;
}

.odd_line {
    color: #626262;
    background-color: #ffffff;
    font-size: 12px;
}

/*Replace BTN css*/
.cr_btn {
    background-color: #8DB800;
    float: left;
    margin-left: 5px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    width: auto;
    vertical-align: middle;
}

    .cr_btn:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        float: left;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        width: auto;
        vertical-align: middle;
        font-size: 15px;
    }

    .cr_btn span {
        /*background-color: #FFFFFF;*/
        color: #8DB800;
        color: #FFF;
        float: left;
        font-size: 15px;
        margin-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        vertical-align: middle;
        width: auto;
    }

.del_btn {
    background-color: #e24518;
    float: left;
    padding: 2px 4px;
    width: auto;
    margin-left: 5px;
}

    .del_btn:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        float: left;
        padding-right: 4px;
        width: auto;
        margin-left: 5px;
        font-size: 15px;
    }

    .del_btn span {
        /*background-color: #FFFFFF;*/
        float: right;
        margin-top: 4px;
        /*padding: 4px 10px;*/
        padding: 4px;
        vertical-align: middle;
        width: auto;
        color: #e24518;
        color: #FFF;
        font-size: 15px;
    }

.inact_btn {
    background-color: #ff8a65;
    float: left;
    padding: 2px 4px;
    width: auto;
    margin-left: 5px;
}

    .inact_btn:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        float: left;
        padding-right: 4px;
        width: auto;
        margin-left: 5px;
        font-size: 15px;
    }

    .inact_btn span {
        /*background-color: #FFFFFF;*/
        float: right;
        margin-top: 4px;
        /* padding: 4px 10px;*/
        padding: 4px;
        vertical-align: middle;
        width: auto;
        color: #ff8a65;
        color: #FFF;
        font-size: 15px;
    }

.act_btn {
    background-color: #317cc2;
    float: left;
    padding: 2px 4px;
    width: auto;
    margin-left: 5px;
}

    .act_btn:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        float: left;
        padding-right: 4px;
        width: auto;
        margin-left: 5px;
        font-size: 15px;
    }

    .act_btn span {
        /*background-color: #FFFFFF;*/
        float: right;
        margin-top: 4px;
        /*padding: 4px 10px;*/
        padding: 4px;
        vertical-align: middle;
        width: auto;
        color: #317cc2;
        color: #FFF;
        font-size: 15px;
    }
/*newly added*/
.bdr_h {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cecece;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
}

.bdr_hBnkRep {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cecece;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
    word-break: break-all;
    overflow-wrap: break-word;
}

.bdr_h2 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cecece;
}

.bdr_h3 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cecece;
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #cecece;
    border-right-style: solid;
    border-right-color: #cecece;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/ajax-loader.gif") 50% 50% no-repeat #F0F0F0;
}

.newlinksH2 {
    color: #089dbe;
    font-size: 16px;
    height: 35px;
    line-height: 22px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.table_data1_total {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    margin-top: 10px;
    margin-right: 10px;
    background-position: right top;
    background-repeat: repeat-y;
    font-size: 12px;
    line-height: 28px;
}

.form_fill_left {
    width: auto;
    float: left;
}

.form_fill_right {
    width: auto;
    float: right;
}
/**/

/*////////////////////////CSS start FOR SIDE BAR///////////////////////*/
.toggle_det {
    width: 260px;
    float: left;
}

#box {
    font-size: 12px;
    left: -322px;
    line-height: 20px;
    position: fixed;
    top: 0;
    width: 322px;
    z-index: 100;
}

#tab {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}

    #tab li span {
        display: block;
        padding: 0 5px;
        position: relative;
    }

.show, .hide {
    transition: margin-left 0.4s ease-in 0s;
}

.hide {
    margin-right: 0;
    display: none;
}

.show {
    margin-left: 254px;
}

#arrow, .bt {
    cursor: pointer;
}

.bt {
    background: -moz-linear-gradient(left center, #1F82AF, #002F44) repeat scroll 0 0 #014464;
    border: 1px solid #858FA6;
    font: bold 13px Helvetica,Arial,sans-serif;
    height: 40px;
    margin: -1px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    width: 77px;
}

    .bt a {
        color: #FFFFFF;
        line-height: 40px;
    }

    .bt:hover {
        background: none repeat scroll 0 0 #32A3D3;
        transition: background 0.3s linear 0s;
    }

#deco {
    float: left;
    width: 98%;
    text-align: center;
    font-family: 'open_sansregular';
    font-size: 18px;
    color: #FFF;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
}

.slide_list {
    border-bottom: 1px solid #FFFFFF;
    float: left;
    width: 254px;
}

.slid_scrool {
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
}
/*////////////////////////CSS END FOR SIDE BAR///////////////////////*/

/*Reaplce 21-2-2014*/
/*.logo {
	float: left;
	width: 20.5%;
	text-align: center;
}
.top_nav {
	float: left;
	padding-top: 10px;
	width: 60%;
}
/**/
#links:after {
    background-color: #089DBE;
    float: right;
    width: 255px;
    height: 100%;
}

#links {
    background-color: #089DBE;
    float: right;
    width: 255px;
    height: 100%;
}

    #links:before {
        background-color: #089DBE;
        float: right;
        width: 255px;
        height: 100%;
    }
/* 26/02/2014 Joshi Jitesh Change For report */
.FullView {
    float: right;
    margin-right: 1%;
    width: 98%;
}

.btn_Back a {
    font-family: 'open_sansregular';
    background-color: #089dbe;
    width: 60px;
    margin-right: 0px;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
    color: #FFF;
    border: 0px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

    .btn_Back a:hover {
        font-family: 'open_sansregular';
        width: 60px;
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        margin-right: 0px;
        padding-top: 7px;
        padding-right: 15px;
        padding-bottom: 8px;
        padding-left: 15px;
        color: #FFF;
        border: 0px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        line-height: 25px;
    }

.BackBtn {
    float: right;
    height: 23px;
    background-color: #089DBE;
    color: #FFFFFF;
    cursor: pointer;
}

.Export_btn {
    background-color: #FA7E0B;
    float: left;
    padding: 2px 4px;
    width: auto;
    margin-left: 5px;
}

    .Export_btn span {
        /*background-color: #FFFFFF;*/
        float: right;
        margin-top: 4px;
        /*padding: 4px 10px;*/
        padding: 4px;
        vertical-align: middle;
        width: auto;
        color: #e24518;
        color: #FFF;
        font-size: 15px;
    }

.flter_PickerImg {
    float: left;
    width: 360px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.Export_btn:hover {
    background-color: #3e3e3e;
    -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
    -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
    -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
    -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
    transition: color .2s ease-out, background 0.5s ease-in;
    float: left;
    padding-right: 4px;
    width: auto;
    margin-left: 5px;
    font-size: 15px;
}

.csscode {
    text-decoration: none;
    border-bottom: 1px solid #089DBE;
}

    .csscode:hover {
        border-bottom-color: white;
    }

.ReportBankCash {
    margin-top: 10px;
}

.opnBlcRpt {
    float: right;
}

.ProfitAndLoss {
    cursor: pointer;
    text-decoration: underline;
}

/*Bilty form*/
.FullView { /*this is made by devoper*/
    float: right;
    margin-right: 1%;
    width: 98%;
}

.bilty_form_lab {
    color: #0A5260;
    float: left;
    font-size: 14px;
    padding-top: 5px;
    width: 30%;
}

.bilty_form_fill {
    width: 70%;
    float: left;
}

.bilty_form_fill_radio {
    float: left;
    padding-top: 8px;
    width: 70%;
}

.bilty_fill_code {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 30%;
}

.bilty_fill {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 58%;
}

.bilty_fill_code_f {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 20%;
    margin-right: 7px;
}

.bilty_fill_code_m {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 2%;
    width: 34%;
}

.bilty_fill_code_l {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 25%;
}

.blt_fill {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    height: 18px;
    width: 95.6%;
}

.blt_fill_tbl {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    height: 25px;
    width: 95.6%;
}

.blt_fill_dd {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 99.8%;
}

.blt_form_grid {
    float: left;
    padding: 1%;
    width: 98%;
}

.blt_mdl_ttl {
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8db800;
}

.blt_mdl_ttl_bg {
    background-color: #8db800;
    float: left;
    padding-top: 5px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

    .blt_mdl_ttl_bg .mdl_txt {
        color: #FFF;
        float: left;
        font-size: 16px;
        line-height: 36px;
    }

.main_form_left_a {
    float: left;
    margin-right: 2%;
    width: 32%;
}

.main_form_left_b {
    float: left;
    margin-right: 2%;
    width: 32%;
}

.main_form_left_c {
    width: 30%;
    float: left;
}

.blt_fill_dd_small {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 40.8%;
}

.blt_fill_dd_small_fix {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 40.8%;
}

.blt_fill_small {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    height: 18px;
    padding: 2%;
    width: 52.2%;
}

.blt_fill_small_fix {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    height: 18px;
    padding: 2%;
    width: 52.2%;
}

.comman {
    width: 100%;
    float: left;
}

.mrgn_t10 {
    margin-top: 10px;
}

.margn_r5 {
    margin-right: 5px;
}

.bilty_fill_code_lc {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 24.5%;
}


.CenterMessage {
    text-align: center;
    font-size: 17px;
    width: 100%;
}


.create_mainpopup {
    float: left;
    margin-top: 10px;
    width: 98%;
    margin-left: 5px;
    border: 1px solid #d3d3d3;
}

.MessageFontGreen {
    font-size: 17px;
    color: Green;
}

.MessageFontRed {
    font-size: 17px;
    color: Green;
}

.bilty_fill_code_left {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 30%;
}

.bilty_fill_left {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 58%;
}

.Depot_height {
    height: 40px;
}

.FooterLine {
    border-top: 1px solid #CECECE;
}

.VersionInfo {
    text-decoration: none;
    border-style: none;
    outline: 0 none;
    color: #FFFFFF;
}

/* Change 26/6/2014*/


/*Cahrt Page Css*/
.graph_area {
    width: 100%;
    float: left;
    margin-top: 12px;
}

.graph_area_box {
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 49%;
}

    .graph_area_box img {
        width: 100%;
    }

.graph_area_box_top {
    float: left;
    margin-bottom: 1%;
    width: 97.5%;
}

.graph_t {
    width: 23.99%;
    float: left;
    border: 1px solid #CCC;
    margin-right: 1%;
}

    .graph_t img {
        width: 100%;
    }

.pad_8 {
    padding: 8px;
}

.tabl_line tr td {
    padding-bottom: 4px;
    padding-top: 4px;
}

.tabl_line2 tr td {
    padding-bottom: 4px;
    padding-top: 4px;
}
/**/
.h_yello {
    background-color: #fdd752;
}

.bdr_table_yello {
    border: 1px solid #fdd752;
}

.font14_yello_b {
    font-size: 14px;
    color: #fdd752;
    font-weight: bold;
}

.h_grn {
    background-color: #8abf3b;
}

.bdr_table_grn {
    border: 1px solid #8abf3b;
}

.font14_grn_b {
    font-size: 14px;
    color: #8abf3b;
    font-weight: bold;
}

.h_org {
    background-color: #ffa288;
}

.bdr_table_org {
    border: 1px solid #ffa288;
}

.font14_org_b {
    font-size: 14px;
    color: #ffa288;
    font-weight: bold;
}

.h_blue {
    background-color: #317CC2;
}

.bdr_table_blue {
    border: 1px solid #317CC2;
}

.font14_blue_b {
    font-size: 14px;
    color: #317CC2;
    font-weight: bold;
}
/**/
.chart_inner_box {
    border: 1px solid #D3D3D3;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 48%;
    height: 400px;
    overflow: hidden;
}

    .chart_inner_box:hover {
        float: left;
        margin-bottom: 1%;
        margin-right: 1%;
        width: 48%;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
        overflow: auto;
    }

.font14_Skyblue_b {
    font-size: 14px;
    color: #afcff6;
    font-weight: bold;
}

.font14_red_b {
    font-size: 14px;
    color: #f97c79;
    font-weight: bold;
}

.chart_h_lgt_blue {
    background-color: #afcff6;
}

.chart_bdr_table_lgt_blue {
    border: 1px solid #afcff6;
}

.chart_bdr_table_lgt_Green {
    border: 1px solid #00b199;
}

.chart_inner_box.chart_bdr_table_lgt_blue img {
    width: 100%;
}
/**/
.chart_h_lgt_red {
    background-color: #f97c79;
}

.chart_bdr_table_lgt_red {
    border: 1px solid #f97c79;
}

.chart_inner_box.chart_bdr_table_lgt_red img {
    width: 100%;
}

.chart_h_lgt_green {
    background-color: #00b199;
}

.font14_green_b {
    color: #00b199;
    font-size: 14px;
    font-weight: bold;
}

/*Added for border in footer*/

.Footerrow {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.detl_area {
    background-color: #089dbe;
    clear: both;
    color: #edebeb;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 0;
    padding-top: 0;
    width: 97%;
}

.detl_bg {
    background-color: #edebeb;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-left-radius: 0;
    border-top-right-radius: 11px;
    float: left;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
}

.newlinks4 {
    color: #edebeb;
}

.mdl_ttl_bg2 {
    background-color: #edebeb;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    float: left;
    padding-bottom: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2px;
}

.mdl_ttl2 {
    border-bottom-color: #d3d3d3;
    border-bottom-style: solid;
    border-bottom-width: 0;
    float: left;
    margin-top: 12px;
    width: 100%;
}
/* MSG  Login */
.fill_box_vali {
    width: 100%;
    float: left;
    padding-top: 10px;
    position: relative;
}

.fill_vali_main {
    background-color: #f7f7f7;
    left: 0;
    position: absolute;
    width: 253px;
    padding: 5px;
    border: 2px solid #05647D;
    font-size: 12px;
    font-weight: bold;
    top: 10px;
    color: #F00;
}

/** Report Page*/
.Report_Table {
    border-collapse: collapse;
    width: 100%;
}

.group_main {
    float: left;
    margin-top: 10px;
    width: 100%;
}
/**/
.sales_grp_main {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.top_ttl_org {
    width: 100%;
    float: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ff8a66;
}

.titl_org {
    background-color: #ff8a66;
    float: left;
    padding-top: 2px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

.grp_listing_org {
    width: 100%;
    float: left;
    background-color: #f7f7f7;
    margin-top: 10px;
}

    .grp_listing_org ul {
        width: 98%;
        float: left;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
    }

        .grp_listing_org ul li {
            background-color: #ffdace;
            float: left;
            margin-bottom: 1%;
            padding: 1.5% 1%;
            width: 47.5%;
        }

            .grp_listing_org ul li a {
                width: 100%;
                color: #474747;
                font-size: 16px;
            }

            .grp_listing_org ul li:hover {
                background-color: #ffbaa5;
                -o-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -ms-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -moz-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -webkit-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                transition: color .2s ease-out, background 0.5s ease-in;
            }

            .grp_listing_org ul li:nth-child(2n+0) {
                float: right;
            }
/**/
.purchase_group_main {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.top_ttl_grn {
    width: 100%;
    float: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8eb800;
}

.titl_grn {
    background-color: #8eb800;
    float: left;
    padding-top: 2px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

.grp_listing_grn {
    width: 100%;
    float: left;
    background-color: #f7f7f7;
    margin-top: 10px;
}

    .grp_listing_grn ul {
        width: 98%;
        float: left;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
    }

        .grp_listing_grn ul li {
            background-color: #e3f6a0;
            float: left;
            margin-bottom: 1%;
            padding: 1.5% 1%;
            width: 47.5%;
        }

            .grp_listing_grn ul li a {
                width: 100%;
                color: #474747;
                font-size: 16px;
            }

            .grp_listing_grn ul li:hover {
                background-color: #9cc807;
                -o-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -ms-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -moz-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -webkit-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                transition: color .2s ease-out, background 0.5s ease-in;
            }

            .grp_listing_grn ul li:nth-child(2n+0) {
                float: right;
            }
/**/
.carting_group_main {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.top_ttl_blue {
    width: 100%;
    float: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #55aaf7;
}

.titl_blue {
    background-color: #55aaf7;
    float: left;
    padding-top: 2px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

.grp_listing_blue {
    width: 100%;
    float: left;
    background-color: #f7f7f7;
    margin-top: 10px;
}

    .grp_listing_blue ul {
        width: 98%;
        float: left;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
    }

        .grp_listing_blue ul li {
            background-color: #a9d6ff;
            float: left;
            margin-bottom: 1%;
            padding: 1.5% 1%;
            width: 47.5%;
        }

            .grp_listing_blue ul li a {
                width: 100%;
                color: #474747;
                font-size: 16px;
            }

            .grp_listing_blue ul li:hover {
                background-color: #55aaf7;
                -o-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -ms-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -moz-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -webkit-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                transition: color .2s ease-out, background 0.5s ease-in;
            }

            .grp_listing_blue ul li:nth-child(2n+0) {
                float: right;
            }
/**/
.inventory_group_main {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.top_ttl_yellow {
    width: 100%;
    float: left;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d3c306;
}

.titl_yellow {
    background-color: #d3c306;
    float: left;
    padding-top: 2px;
    padding-right: 1%;
    padding-bottom: 0;
    padding-left: 1%;
}

.grp_listing_yellow {
    width: 100%;
    float: left;
    background-color: #f7f7f7;
    margin-top: 10px;
}

    .grp_listing_yellow ul {
        width: 98%;
        float: left;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
    }

        .grp_listing_yellow ul li {
            background-color: #fff79e;
            float: left;
            margin-bottom: 1%;
            padding: 1.5% 1%;
            width: 47.5%;
        }

            .grp_listing_yellow ul li a {
                width: 100%;
                color: #474747;
                font-size: 16px;
            }

            .grp_listing_yellow ul li:hover {
                background-color: #d3c306;
                -o-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -ms-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -moz-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                -webkit-transition: #087c96 .2s ease-out, background 0.5s ease-in;
                transition: color .2s ease-out, background 0.5s ease-in;
            }

            .grp_listing_yellow ul li:nth-child(2n+0) {
                float: right;
            }

input[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}


.con_not_btn {
    background-color: #ff8a65;
    float: left;
    margin-left: 5px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    width: auto;
}

    .con_not_btn span {
        color: #fff;
        float: right;
        font-size: 15px;
        margin-top: 1px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        vertical-align: middle;
        width: auto;
    }

    .con_not_btn:hover {
        background-color: #3e3e3e;
        float: left;
        font-size: 15px;
        margin-left: 5px;
        padding-right: 4px;
        transition-delay: 0s, 0s;
        transition-duration: 0.2s, 0.5s;
        transition-property: color, background;
        transition-timing-function: ease-out, ease-in;
        width: auto;
    }

.blt_mdl_ttl_machine {
    float: left;
    margin-top: 12px;
    width: 100%;
}
/**/
..left {
    float: left;
}

.right {
    float: right !important;
}

.pagination-flickr li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;
    background: #4C4C4C;
}

.pagination-flickr .aspNetDisabled {
    background-color: #089dbe;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 23px;
    line-height: 22px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-out 0s, background 0.5s ease-in 0s;
    width: 28px;
}

.pagination-flickr .next a, .pagination-flickr .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
    float: left;
}

.pagination-flickr a:link, .pagination-flickr a:visited {
    color: #0b2e4c;
    float: left;
    font-size: 16px;
    height: 25px;
    line-height: 22px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    width: 28px;
}

.pagination-flickr a:hover {
    background-color: #089dbe;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 23px;
    line-height: 22px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-out 0s, background 0.5s ease-in 0s;
    width: 28px;
}

.fillCode {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 20px;
    padding: 5px;
}

.bilty_fill_New {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    float: right;
    padding: 2%;
    width: 50%;
}

.bilty_fill_code_New {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    float: left;
    padding: 2%;
    width: 17%;
}

.flter_grd_new {
    float: left;
    width: 72%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.csscode_recepit {
    border-bottom: 1px solid #089dbe;
    color: #089dbe;
    text-decoration: none;
}

.bilty_form_fill_Width {
    width: 30%;
    float: left;
}

.bilty_form_fill_Report {
    float: left;
    width: 53%;
}

.flter_lab_New {
    color: #089dbe;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 121px;
}

.bilty_fill_Receipt {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    float: right;
    padding: 2%;
    width: 45%;
}

.send_sms_btn {
    background-color: #8DB800;
    float: left;
    padding: 2px 4px;
    width: auto;
    margin-left: 5px;
}

    .send_sms_btn span {
        float: right;
        margin-top: 1px;
        padding: 4px;
        vertical-align: middle;
        width: auto;
        color: #e24518;
        color: #FFF;
        font-size: 15px;
    }

.flter_fill_Report {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 7px 2px;
    width: 225px;
}

.bilty_fill_code_Ld {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 58%;
}

.main_form_left_c_New {
    width: 32%;
    float: left;
}

.blt_form_grid_new {
    float: left;
    padding: 1%;
    width: 95%;
}

.dvOverFlow {
    overflow: auto;
    height: 77px;
    background-color: #ffffff;
}

.dvBorder {
    border: 1px solid #cccccc;
}

.flter_lab_Godown {
    color: #089dbe;
    float: left;
    font-size: 14px;
    padding-right: 20px;
}

.fill_txt_2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    height: 89px;
    padding: 1%;
    width: 98%;
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #000;
}

.flter_grd_2 {
    width: 774px;
}

.flter_lab_2 {
    color: #0a5260;
    float: left;
    font-size: 14px;
    padding-top: 4px;
    width: 180px;
}

.fill1_New {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    height: 23px;
    padding: 2px;
}

.chl_Balance {
    background-color: #d3d3d3;
    float: left;
    padding: 0px 1% 0;
    color: #101010;
    font-size: 15px;
    line-height: 36px;
    width: 98%;
    text-align: center;
}

.chl_advance {
    background-color: #d3d3d3;
    float: left;
    padding: 0px 1% 0;
    color: #101010;
    font-size: 15px;
    line-height: 36px;
    width: 98%;
    text-align: center;
}

.flter_grd_new2 {
    float: left;
    width: 77%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.bilty_fill_code_New2 {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    float: left;
    padding: 2%;
    width: 14%;
}

.bilty_fill_code_width45 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 36%;
}

.bilty_fill_code_ti {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 22%;
}

.bilty_fill_code_ti2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 37%;
    height: 21px;
}


.flter_grd_new_Width {
    float: left;
    width: 305px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.flter_lab_New_width {
    color: #089dbe;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 51px;
}

.flter_grd_new_Width2 {
    float: left;
    width: 195px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.margin2per {
    margin-right: 2%;
}

.bold_class {
    font-weight: bold;
}

.fill_right_gv {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 96%;
}

.fill1_gv_report {
    background-color: #F7F7F7;
    margin-top: 9px;
}

.margintop0 {
    margin-top: 0px;
}

.refreshGreen {
    color: #ffffff;
    cursor: pointer;
    float: right;
    padding: 10px 3px 1px;
}

.bilty_form_lab_35 {
    color: #0A5260;
    float: left;
    font-size: 14px;
    padding-top: 5px;
    width: 35%;
}

.bilty_form_fill_65 {
    width: 65%;
    float: left;
}

.flter_fillright1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 7px 2px;
    width: 225px;
}

.form_fill_manual {
    float: left;
    width: 27%;
}

.flter_grd_Lab {
    float: left;
    width: 250px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.bilty_fill_code_update {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 2%;
    width: 14%;
}

.cr_btn1 {
    background-color: #ff8a65;
    float: left;
    margin-left: 5px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    width: auto;
    vertical-align: middle;
}

    .cr_btn1:hover {
        background-color: #3e3e3e;
        -o-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -ms-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -moz-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        -webkit-transition: #3e3e3e .2s ease-out, background 0.5s ease-in;
        transition: color .2s ease-out, background 0.5s ease-in;
        float: left;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        width: auto;
        vertical-align: middle;
        font-size: 15px;
    }

    .cr_btn1 span {
        /*background-color: #FFFFFF;*/
        color: #8DB800;
        color: #FFF;
        float: left;
        font-size: 15px;
        margin-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        vertical-align: middle;
        width: auto;
    }

.form_left_ormg {
    width: 37%;
    float: left;
}

.form_right_ormg {
    width: 63%;
    float: right;
}

.bdr_bt {
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}

.bdr_br {
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}

.font14_blue_New {
    color: #089dbe;
    font-size: 14px;
    font-weight: bold;
}

.flter_grd_rpt {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 400px;
}

.flter_lab_rpt {
    color: #089dbe;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 127px;
}

.blt_fill_sm {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 18px;
    padding: 5px 2% 5px;
    width: 27%;
}

.blt_fill_lg {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 18px;
    padding: 5px 2% 5px;
    width: 91.4%;
}

.blt_fill_lg_Edit {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 18px;
    padding: 5px 2% 5px;
    width: 86.4%;
}

.blt_fill_md {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    padding: 5px 2% 5px;
    height: 18px;
    width: 59.2%;
}

.blt_fill_dd_lg {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 25px;
    width: 96%;
}

.blt_fill_dd_sm {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 25px;
}

.blt_fill_font {
    font-family: "open_sansregular";
}

.paddtop0 {
    padding-top: 0px;
}

.WrapWord_rpt {
    word-break: break-all;
}

.pull-left {
    float: left;
}

.flter_grd_grt {
    float: left;
    width: 380px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.fill_rpt {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    padding: 2%;
    width: 96%;
}

.Go_btn {
    font-family: 'open_sansregular';
    width: auto;
    margin-right: 2px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    color: #FFF;
    border: 0px;
    background-image: url(../images/loginbtnbg.png);
    background-repeat: repeat;
    background-position: left top;
    background-color: transparent;
    font-size: 15px;
}

.width22percent {
    width: 22%;
}

.tb_width40 {
    width: 42%;
}

.margin5per {
    margin-left: 5%;
}

.blt_fill_pay {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    height: 18px;
    width: 60%;
}

.blt_fill_dd_pay {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 62%;
}

.blt_fill_dd_f {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 87.8%;
}

.blt_fill_dd_p {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 49%;
}

.bilty_fill_code_LdN {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 40%;
}

.blt_top_ttl {
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #8db800;
}

.main_form_left_a_N {
    float: left;
    margin-right: 8%;
    width: 32%;
}

.bilty_fill_code_Ld1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 80%;
}

.bilty_fill_code_Ld2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 84%;
}

.main_form_left_b_N {
    float: left;
    width: 28%;
}

.main_form_left_c_N {
    width: 3%;
    float: left;
}

.main_form_left_c_N1 {
    float: left;
    margin-top: 42px;
    width: 3%;
}

.fill_Right {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    text-align: right;
}

.blt_fill_lg1 {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 18px;
    padding: 5px 2% 5px;
    width: 95.4%;
}

.dd_Style {
    border: 1px solid #b1b1b1;
    font-size: small;
    padding: 4px 2px;
    width: 140px;
}

.margin_right40px {
    margin-right: -40px;
}

.blt_fill_report {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    height: 18px;
    width: 100px;
}

.form_grid_contra {
    width: 60%;
    padding: 1%;
    float: left;
}

.blt_fill_Approved {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 40.8%;
    margin-bottom: 2px;
}

.flter_lab2 {
    color: #089DBE;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 90px;
}

.flter_grd21 {
    float: left;
    width: 298px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.bdr_Profit {
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding: 7px;
}

.bdr_Profit_h1 {
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-left: 1px solid #cecece;
    height: 50px;
}

.bdr_Profit_h2 {
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
}

.bdr_Profit_h3 {
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.bdr_Profit_h4 {
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    height: 30px;
}


.bdr_Ledger_h1 {
    border-right: 1px solid #cecece;
    height: 30px;
}

.bdr_Ledger_h2 {
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.bdr_Ledger_h3 {
    border-bottom: 1px solid #cecece;
}

.bdr_Ledger_h4 {
    border: 1px solid #cecece;
}

.bdr_Ledger_h5 {
    border: 1px solid #cecece;
}

.bdr_Ledger_h6 {
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

.bdr_Ledger_h7 {
    border-left: 1px solid #cecece;
}

.td_NoPadding {
    padding-bottom: 0px;
    padding-top: 0px;
}

.table_list_Ledger {
    width: 100%;
    float: left;
}

.font12_blue {
    color: #089dbe;
    font-size: 12px;
}

.font12_gray {
    font-size: 14px;
    color: #626262;
}

.form_lab_height20px {
    width: 100%;
    color: #0a5260;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    height: 20px;
}

.fill_Width33Per_Height19px_marginleft_5px {
    width: 33%;
    margin-left: 5px;
    height: 19px;
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
}

.btn_marginleft_7px {
    float: left;
    margin-left: 7px;
}

.TextboxLength {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 50%;
}

.form_lab_height10px {
    width: 100%;
    color: #0a5260;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    height: 10px;
}

.font11dot5_red {
    font-size: 11.5px;
}

.nounderline {
    text-decoration: none !important;
    color: #626262 !important;
}

.table_list_cust {
    width: 40%;
    float: left;
}

.fillmarginright2Per {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 96%;
    margin-right: 2%;
}

.fillAutoEntryDDList {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 27%;
    height: 34px;
    margin-left: 2%;
}

.blt_fill_dpl {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    height: 29px;
    width: 95.6%;
}

.blt_fill_tt {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    height: 18px;
    width: 100%;
}

.bdr_h4 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cecece;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCC1;
    height: 35px;
    background-color: #FFFFFF;
    color: #089DBE;
    font-size: 13px;
}

.bdr_v3 {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cecece;
    padding: 7px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cecece;
    font-size: 14px;
    color: #626262;
}

.margin_Left1Percent {
    margin-left: 1%;
}

.width61PerTxtBox {
    width: 61%;
}

.width81PerTxtBox {
    width: 81%;
}

.width63box {
    width: 63%;
}

.b_float {
    float: right;
}

.width18per {
    width: 18%;
    float: right;
}

.width71box {
    width: 71%;
}

.width23box {
    width: 23%;
    height: 34px;
}

.width71boxn {
    width: 71%;
    float: right;
}

.width73box {
    width: 73%;
}

.width20per {
    width: 20%;
    float: right;
    height: 34px;
}

.flter_grdwidth400px {
    float: left;
    width: 400px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.width57Per {
    width: 57%;
}

.floatright {
    float: right;
}

.flter_lab_134 {
    color: #089dbe;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 134px;
}

.width67box {
    width: 67%;
}

.filltxtbox {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 20%;
}

.cl_form_fill {
    width: 40%;
    float: left;
}

.Chl_fill_code_f {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 15%;
    margin-right: 7px;
}

.Chl_fill_code_m {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 2%;
    width: 23%;
}

.Chl_fill_code_lc {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 13.5%;
}

.Chl_fill_code_lc2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: right;
    padding: 2%;
    width: 22.5%;
}

.Chl_fill_code_lc3 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 22.5%;
}

.fill_70Per {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 75%;
}

.fill_Upload {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    height: 28px;
    padding: 2px;
    width: 55%;
    margin-left: 2%;
}

.form_Upload {
    width: 100%;
    float: left;
    margin-left: 40%;
}

.fill_71Per {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 71%;
}

.bilty_form_lab1 {
    color: #0A5260;
    float: left;
    font-size: 14px;
    padding-top: 5px;
    width: 21%;
}

.margintop5per {
    margin-top: 5%;
}

.fill_ddr {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 105px;
    margin-bottom: 29px;
}

.fill_ddr_top {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 105px;
}

.contr_font_color {
    color: #089DBE;
    font-size: 12px;
    margin-bottom: 3px;
}

.fill_ddr_1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 93px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.fill_ddr_top_1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 105px;
}

.mrg_5 {
    margin-bottom: 10px;
}

.fill_ddr_top_2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 150px;
}

.filltxt_1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 125px;
}

.filltxt_2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 113px;
}

.fill_ddr_top_3 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 125px;
}

.contr_font_color_1 {
    color: #089DBE;
    font-size: 11px;
    margin-bottom: 3px;
}

.fill_ddr_2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 93px;
    margin-top: 2px;
    margin-bottom: 7px;
}

.fill_ddr_3 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 93px;
    margin-bottom: 2px;
}

.fill_ddr_top_5 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 105px;
    margin-bottom: 9px;
}


/*Vehicle On Rent*/
.VehOnRent_fill_code_m {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 1.5%;
    width: 18%;
}

.VehOnRent_fill_Brn_m {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 1.5%;
    width: 28%;
}

.VehOnRent_fill_Sta_m {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 1.5%;
    width: 26%;
}

.VehOnRent_fill {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 1.5%;
    width: 28%;
}

.VehOnRent_fill1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 1.5%;
    width: 65%;
}

.VehOnRent_fill_DropDown {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 1.5%;
    width: 31%;
}

.fill_ddr_4 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 60px;
    margin-bottom: 2px;
}

.contra_table {
    overflow: auto;
    width: 100%;
}

.bdr_v_main {
    border-color: #cecece;
    padding: 7px;
}

.bdr_h_main {
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #cecece;
    border-right-width: 1px;
    border-right-style: solid;
}

.VehOnRent_fill_lable {
    float: left;
    margin-right: 6px;
    padding: 1%;
    width: 28%;
}

.VehOnRent_form_left {
    width: 68%;
    float: left;
}

.VehOnRent_fill_Fix {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 10px;
    padding: 1.5%;
    width: 26%;
}

.VehOnRent_fill_Popup_lable {
    float: left;
    margin-right: 7px;
    padding: 1%;
    width: 32%;
}

.VehOnRent_fill_Fix_Popup {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 10px;
    padding: 2%;
    width: 26%;
}

.VehOnRent_form_left_Popup {
    width: 70%;
    float: left;
}

.VehOnRent_fill_DropDown_Popup {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    margin-right: 7px;
    padding: 2%;
    width: 29%;
}

/*End Vehicle On Rent*/

/*Dashboard - Heading is two Line*/
.tr_Scroll_new {
    height: 320px;
    overflow: hidden;
}

.tr_Scroll_PendingLr {
    height: 328px;
    overflow: hidden;
}

.Man_fill_dd {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 230px;
}

.Man_fill_txt {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 113px;
}

.Man_fill_dd1 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 119px;
}

.Man_fill_dd2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 88px;
}

.flter_fillright2 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 132px;
}

.marigin1 {
    margin-left: 1%;
}

.bilty_btn {
    float: right;
    margin-right: 22px;
}

.fill_Width {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 100px;
}

.Man_fill_txt4 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 98px;
}

/*Assign Bill On To Field*/
.form_left_BillOnToField {
    width: 32%;
    float: left;
}

.form_middle_BillOnToField {
    width: 32%;
    float: left;
    margin-left: 2%;
}

.form_right_BillOnToField {
    width: 32%;
    float: right;
}

.form_lab_BillOnToField {
    width: 100%;
    color: #0a5260;
    float: left;
    font-size: 14px;
    margin-bottom: -10px;
}

.fill_BillOnToField {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 118%;
}

.form_fill_BillOnToField {
    width: 130%;
    float: left;
}
/*End*/

.CrMContractRate_tbWidth {
    width: 125px;
}

.fill_Width_Right {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 100px;
    text-align: right;
}

.Width_Deduction_DPP {
    width: 44% !important;
}

.margin2 {
    margin-left: 1.5%;
}

.flter_fill_bill {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 190px;
}

.flter_lab_lrg_1 {
    color: #089DBE;
    float: left;
    font-size: 14px;
    padding-top: 7px;
    width: 138px;
}

.flter_fill_bill_t {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 186px;
}

.flter_fill_CopyLabCont {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 150px;
}
.fill_CopyLabCont {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 2%;
    width: 65%;
}

.flter_fill_bill_d {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 7px 2px;
    width: 100px;
}

.form_grid_co {
    width: 38%;
    padding: 1%;
    float: left;
}

.fill_ddr_6 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 79px;
    margin-bottom: 10px;
}

.fill_ddr_dl {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 90px;
    margin-bottom: 10px;
}

.fill_ddr_top_6 {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    padding: 5px;
    width: 79px;
}

.flt_area_1 {
    float: left;
    margin-top: 55px;
    width: 100%;
}

.width58PerTxtBox {
    width: 58%;
}

.width80PerTxtBox {
    width: 80%;
}

.fill_txt_NarrationMultiCshBook {
    background-color: #F7F7F7;
    border: 1px solid #B1B1B1;
    float: left;
    height: 70px;
    padding: 1%;
    width: 92%;
    font-family: 'open_sansregular';
    font-size: 14px;
    color: #000;
    margin-top: 3%;
}

.form_gridVoucherNo {
    width: 50%;
    padding: 1%;
    float: left;
}

.form_gridDate {
    width: 45%;
    padding: 1%;
    float: right;
}

.blt_fill_sm_Date {
    background-color: #f7f7f7;
    border: 1px solid #b1b1b1;
    height: 18px;
    padding: 5px 2% 5px;
    width: 45%;
}

.Newmndt {
    color: #e24518;
    font-size: 12px;
}

.width14per {
    width: 14%; 
}

.sup_btnNew {
    text-align: right;
    font-family: 'open_sansregular';
    width: auto;
    margin-right: 15px;
    padding-top: 6px;
    padding-right: 11px;
    padding-bottom: 6px;
    padding-left: 11px;
    color: #FFF;
    border: 0px;
    background-image: url(../images/loginbtnbg.png);
    background-repeat: repeat;
    background-position: left top;
    background-color: transparent;
    font-size: 20px;
    float: left;
    text-decoration: none;
}